* {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

button,
input,
a {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #4D5055;

}


h1 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h2 {

    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.form-h2 {
    color: #2C55A5;
    text-align: center;
    line-height: 44px;
}

input {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #4D5055;
    padding: 20px 24px;
    outline: none;
    cursor: auto;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #AFB1B6;
    
}

input:focus {
    border: 1px solid #357A77;
    background-color: #EBF2F2;
}


.absolute-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #4D5055;

}

.btn {
 width: 100%;
 font-family: "Inter", sans-serif;
 font-optical-sizing: auto;
 font-weight: 700;
 font-style: normal;
 font-size: 18px;
 color: #fff;
 padding: 20px 0;
 background-color: #357A77;
 border-radius: 12px;
}


.header-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #2C55A5;
}

.btn:hover {

background-color: #409692;    
}



.last-box {
    display: flex;
    gap: 16px;
}






.hero-h1, .hero-p1 {
    color: #fff;
}

.hero-p2 {
    color: #E9EFFF;
}



.btn {

    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}


p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #4D5055;
}

.form-p {
    text-align: center;
    margin: 28px 0 30px 0;
}


/* general */

.container-1 {
    max-width: 1360px;
    margin: 0 auto;
}

.header-container {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
}

.hero-section {
    background-image: url(img/cover-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90%;
    padding-bottom: 130px;
    margin-bottom: 70px;
    position: relative;
    overflow: hidden;
}


.wave {
    position: absolute;
    z-index: 1;
    bottom: -10%;
    
    width: 100%;
    
}



.hero-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    justify-content: space-between;
    gap: 60px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 396px 0 66px 0;
    z-index: 99;
}

.hero-right {
    padding: 100px 0 0 0;
    z-index: 99;
}





.form-style {
    position: relative;
}

.absolute-p {
    position: absolute;
    right: 24px;
    bottom: 22px;
    z-index: 9;
}

.main-btn {
    margin-top: 24px;
}

.form-end {
    background-color: #EAEEF6 ;
    padding: 32px 54px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: start;
    border-radius: 0 0 20px 20px;
  
}

.form-top{
    padding: 68px 54px;
}

.form-div {
    background-color: #fff;
    
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 54px -10px #707070;
    z-index: 9;
}

.container-2 {
    max-width: 1128px;
    margin: 0 auto;
    margin-bottom: 120px;
}


.aff-box {
border: 1px solid #CACACA;
background-color: #F1F3FC;
padding: 40px 64px;
transition: all 0.3s;
}

.aff-box:hover{
    box-shadow: 0px 20px 30px -10px #bebebe;
    transform: translate(0px, -2px);
}

.aff-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aff-p {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #20242B;  
}

.why-p {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #20242B;  
    margin-top: 4px;
}

.aff-left {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.aff-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.aff-info {
    display: flex;
    gap: 12px;
}

.aff-logo {
    max-width: 100%;
}

.main-h2 {
    margin-bottom: 48px;
    text-align: center;
}

.why-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 32px;
}

.form-icon {
    max-width: 48px;
}

.why-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.why-img {
    max-width: 80px;
}

.second-btn {
    font-weight: 400 !important;
    display: flex;
    gap: 4px;
    justify-content: center;
}


@media only screen and (min-width: 2000px) {
    .wave {
        display: none;
    }
}






@media only screen and (max-width: 1500px) {


    .pad-everything {
        padding: 0 32px;
    }

    .hero-left {
        padding: 330px 0 0 0;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .form-h2 {
        font-size: 28px;
        
    }
    

}

@media only screen and (max-width: 1380px) {
    .hero-section {
        background-position: 30%;
    }
}


@media only screen and (max-width: 1380px) {
    .form-icon {
        width: 24px;
        height: 24px;
    }
    p {
        font-size: 14px;
    }

    .form-p {
        font-size: 16px;
    }

    .form-h2 {
        font-size: 24px;
        line-height: 36px;
    }
}


@media only screen and (max-width: 1380px) {
    .hero-container {
        gap: 32px;
    }

    .hero-section {
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 1380px) {
    .form-top {
        padding: 40px;

    }

    .form-end {
        padding: 24px 40px;
    }

    .container-2 {
        margin-bottom: 60px;
    }

    .main-h2 {
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 1080px) {

    .hero-h1 {
        font-size: 24px;
    }
    .hero-left {
        gap: 16px;
    }

    .form-top {
        padding: 32px;
    }

    .form-end {
        padding: 24px 32px;
    }

    .hero-section {
        padding-bottom: 40px;
    }


    .container-2 {
        margin-bottom: 40px;
    }
}


@media only screen and (max-width: 950px) {

    .why-p {
        font-size: 12px;
    }

    .form-top {
        padding: 24px;
    }

    .form-end {
        padding: 24px 24px;
    }

    .form-end p {
        font-size: 12px !important;
    }

    .hero-container {
        grid-template-columns: 0.5fr 1fr;
    }

    .hero-left {
        padding: 280px 0 0 0;
    }

    .btn  {
        font-size: 16px;
    }

    .aff-box {
        padding: 24px;
    }

    .header-container {
        padding: 24px 0;
    }

}


@media only screen and (max-width: 870px) {

.hero-left {
    display: none;
}

.second-btn {
    padding: 16px 24px !important;
}

.hero-container {
    grid-template-columns: 1fr;
    
}

.form-top {
    padding: 32px 40px;
}

.form-end {
    padding: 24px 40px;
}

.wave {
    display: none;
}

.hero-section {
    background-color: #2C55A5;
    background-image: none;
    padding: 32px 0 48px 0;
}

.hero-right {
    padding: 32px 0;
}

}


@media only screen and (max-width: 752px) {
    .why-grid {
        grid-template-columns: 1fr;
    }

    .why-grid p {
        max-width: 200px;
    }

    

}




@media only screen and (max-width: 650px) {

.pad-everything{
padding: 0 24px;
}

.aff-box {
    flex-direction: column;
}

.second-btn {
    margin-top: 0 !important;
}

.container-2 {
    margin-bottom: 32px;
}

}


@media only screen and (max-width: 530px) {
    .form-top {
        padding: 24px;
    }

    .form-end {
        padding: 16px 24px;
    }

    .header-p {
        display: none   ;
    }

    .form-h2 {
        font-size: 20px;
    }

    .hero-container {
        padding: 0 !important;
        
    }

    .form-div {
        border-radius: 0 !important;
        box-shadow: none;
    }

    .form-end {
        margin-top: 36px;
        border-radius: 0;
    }

    .hero-right {
        padding: 0;
    }

    .hero-section {
        background-color: #fff ;
        padding: 32px 0 24px 0;
    
    }   

   

}
